.shake {
  animation: shake 0.65s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.shake2 {
    animation: shake .4s both
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes shake2 {
    0%,to {
        transform: translateZ(0)
    }

    10%,50%,90% {
        transform: translate3d(-5px,0,0)
    }

    30%,70% {
        transform: translate3d(5px,0,0)
    }
}